.git/**
.github/**
.pnpm-store/**
.vscode/**
assets/**
docs/**
node_modules/**
src/**
tests/**
*.vsix
.gitlab-ci.yml
.eslintignore
.eslintrc.cjs
.gitignore
.prettierignore
.prettierrc.json
pnpm-lock.yaml
resources/codex-link-marketplace.svg
resources/demo.gif
tsconfig.json
.vscodeignore
